# ignore compiled Python bytecode
*.pyc
__pycache__/
GNNS/__pycache__/ 
.DS_Store

# ignore data files 
datasets/*.xlsx

# ignore output files 
run_scripts/*.out

# ignore AI setup stuff 
wandb/

# ignore updates to sweep_id
sweep_id.txt